#root {
  display: grid;
  grid-template: 15vh auto 10vh / 1fr 4fr;
  font-family: "Bellota Text", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: grey;
  transition: all 0.1s ease-out;
}

a.active {
  color: black;
}

p {
  font-size: 18px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid grey;
  grid-area: 1 / 1 / 2 / 3;
  position: relative;
  img {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
  }
}

nav {
  border-right: 2px solid grey;
  font-size: 20px;
  font-weight: 600;
  grid-area: 2 / 1 / 3 / 2;
  a:hover {
    border-bottom: 3px solid grey;  
  }
  li {
    list-style: none;
    padding: 1vh;
    width: 50%;
    border-radius: 20px;
  }
}

main {
  min-height: 70vh;
  grid-area: 2 / 2 / 3 / 3; 
}

footer {
  border-top: 2px solid grey;
  grid-area: 3 / 1 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    padding: 3px;
    a {
      display: flex;
      padding: 3px;
      gap: 5px;
      justify-content: center;
      align-items: center;
      height: 20px;
      img {
        height: 20px;
      }
    }
  }
}

footer>div:hover {
  box-shadow: 0 4px 4px 2px grey;
  transform: translateY(-3px);
}