a {
  text-decoration: none;
}

a.active {
  color: red;
}

li {
  list-style: none;
}


#root {
  display: grid;
  grid-template: 20vh 130vh 10vh / 1fr 4fr;
}

header {
  text-align: center;
  border: 2px solid lightgrey;
  grid-area: 1 / 1 / 2 / 3;
}

nav {
  border: 2px solid lightgrey;
  grid-area: 2 / 1 / 3 / 2;
}

main {
  border: 2px solid lightgrey;
  grid-area: 2 / 2 / 3 / 3; 
}

.product {
  display: flex;
  align-items: center;
  img {
    height: 10vh;
  }
}
footer {
  border: 2px solid lightgrey;
  grid-area: 3 / 1 / 4 / 3;
  text-align: center;
}