
.product {
  display: grid;
  grid-template: 1fr 3fr 1fr 1fr 1fr / 1fr;
  width: 15vw;
  height: 80vh;
  justify-items: center;
  padding-left: 3vh;
  padding-right: 3vh;
  border-right: 1.5px solid lightgrey;
  grid-area: 1 / 1 / 2 / 2;
  .plus-icon {
    border-radius: 100px;
    width: 5vw;
    height: 5vw;
    -webkit-user-drag: none;
  }
}

#amazon-link {
  img {
    width: 50px;
  }
}

.cream {
  border: 0;
}

.product-img {
  max-height: 30vh;
  max-width: 100%;
  align-self: center;
}

#showcase-buttons {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  button {
    font-family: sans-serif;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid grey;
    transition: all 0.2s ease-in-out; 
  }

  button:hover {
    background-color: grey;
    color: white;
    border: 2px solid white;
  }
}